body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

container {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

container div {
	display: flex;
	list-style: none;
}

li {
	list-style: none;
	line-height: 1.4em;
}

#users {
	overflow-y: scroll;
	height: 20em;
	padding: 2em;
	background: #2E2E30;
	color: white;
}

#messages {
	overflow-y: scroll;
	width: 30em;
	height: 20em;
	padding: 2em;
	background: #37373A;
	color: #ccc;
}

form input {
	width: 30em;
	height: 3.5em;
	font-size: 1em;
}

form button {
	height: 5.5em;
	width: 10em;
	cursor: pointer;
}

.hide {
	display: none;
}

span {
	font-weight: 900;
}